#menu
{
	width: 15%;
	font-family : "Times New Roman", Arial, serif;
	color : red;
	top: 250px;
	padding-left: 5px;
	border: solid 2px black;
}

#corps
{
	border: solid 2px black;
	position: absolute;
}

#footer
{
	text-align:center;
	color: green;
	font-weight: bold;
	font-family:"Times New Roman", "Arial Black", Arial, serif;
}
