.disque
{
   list-style-image:url(./img/dd05.png); 
}

.dossier
{
   list-style-image:url(./img/folder.png); 
}

.exe
{
   list-style-image:url(./img/file_extension_exe.png); 
}
.txt
{
   list-style-image:url(./img/file_extension_txt.png); 
}
.zip
{
   list-style-image:url(./img/file_extension_zip.png); 
}
.bmp
{
   list-style-image:url(./img/file_extension_bmp.png); 
}
.rtf
{
   list-style-image:url(./img/file_extension_rtf.png); 
}
.png
{
   list-style-image:url(./img/file_extension_png.png); 
}
.jar
{
   list-style-image:url(./img/file_extension_jar.png); 
}