body
{
	background : #3EAEEF;
	color : black;
	font-family : Arial, "Arial Black", sans-serif;
}
pre
{
	color : black;
	font-family : Arial, "Arial Black", sans-serif;
}
#entete
{
	width: 100%;
	height : 10%;
	color : red;
	font-size : 20;
	position: absolute;
	top:0%;
	left:0%;
	text-decoration: underline;
}
#menu
{
	width:20%;
	height:80%;
	font-family : "Arial Black", Arial, serif;
	position:absolute;
	color : red;
	top:10%;
	left:0%;
}
#corps
{
	padding-left: 20px;
	background:white;
	width:80%;
	height:80%;
	position:absolute;
	top:10%;
	right:0%;
	left:15%;
}
#pied_page
{
	text-align:center;
	width:100%;
	height:10%;
	position:absolute;
	color: red;
	top:90%;
	bottom:0%;
	right:0%;
}

a:visited{color:purple;}